.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  width: 60%;
  padding: 15px;
}

.outputDiv {
  font-size: 1.2em;
  font-weight: bold;
}

ul {
  display: inline;
}

li {
  display: inline;
  font-size: 2em;
  padding: 1em 0.2em;
}
