.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  color: #333333;
}

input {
  width: 60%;
  padding: 1em;
  border: 2px solid black;
}

::placeholder {
  color: #333333;
}

.showEmojiDiv {
  font-size: 1.5em;
  padding-top: 1em;
}

.showMeaningDiv {
  font-size: 1.2em;
  font-weight: bold;
  color: #333333;
}

ul {
  display: inline;
}

li {
  display: inline;
  font-size: 2em;
  padding: 1em 0.2em;
}
